.banner,
.centered {
  position: relative
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1;
  color: #4f4f4f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

#logo,
#logo img {
  display: block;
  margin: auto
}

#logo {
  width: 450px
}

#logo img {
  width: 100%
}

header {
  padding-top: 15px;
  border-bottom: solid 1px #f4f4f4
}

header .headerlinks {
  height: 30px;
  padding-top: 5px;
  text-align: center;
  font-size: 19px
}

header .headerlinks a {
  margin: 0 5px;
  padding: 5px 0;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

header .headerlinks a.active {
  border-bottom: solid 3px;
  cursor: auto
}

header .headerlinks a:hover {
  border-bottom: solid 3px
}

section {
  padding: 15px 10px
}

section h2 {
  padding: 5px 0;
  margin: 15px 0 0;
  border-bottom: solid 1px #ccc
}

section h3 {
  padding: 15px 0 0
}

.delete-event:hover,
.edit-event:hover {
  background: rgba(235, 0, 0, .1)
}

section p {
  padding: 10px 0;
  line-height: 23px
}

section li,
section ul {
  line-height: 23px;
  list-style: disc;
  margin-left: 12px
}

section b,
section strong {
  font-weight: 700
}

section i {
  font-style: italic
}

section a {
  color: #4f4f4f
}

.centered {
  width: 700px;
  margin: auto
}

.banner {
  height: 230px;
  background-size: 100%;
  background-repeat: no-repeat
}

.banner#mainbanner {
  background-image: url(/static/img/mainbanner.jpg)
}

h2 {
  font-size: 30px;
  font-weight: 100
}

h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px
}

.events,
.questions {
  margin-top: -20px;
  margin-left: 0
}

.events li,
.events ul,
.questions li,
.questions ul {
  list-style: none;
  margin-left: 0
}

.events .event,
.events .question,
.questions .event,
.questions .question {
  position: relative;
  min-height: 180px;
  border-bottom: solid 1px #eee
}

.events .event img,
.events .question img,
.questions .event img,
.questions .question img {
  position: absolute;
  right: 0;
  top: 15px;
  width: 140px;
  padding: 20px
}

.events .event .info,
.events .question .info,
.questions .event .info,
.questions .question .info {
  padding: 20px 0;
  margin: 10px 0;
  width: 500px
}

.events .event .info .row,
.events .question .info .row,
.questions .event .info .row,
.questions .question .info .row {
  margin: 3px 0
}

.events .event .info .row .label,
.events .question .info .row .label,
.questions .event .info .row .label,
.questions .question .info .row .label {
  font-weight: 600
}

.events .event .info .row .calltoaction,
.events .question .info .row .calltoaction,
.questions .event .info .row .calltoaction,
.questions .question .info .row .calltoaction {
  display: inline-block;
  color: #d70000;
  font-weight: 700
}

.past {
  margin-top: 50px
}

.past .event img {
  left: 0
}

.past .event .info {
  margin-left: 200px
}

footer {
  padding: 50px 5px 10px;
  font-size: 14px;
  height: 30px
}

footer a {
  color: #4f4f4f
}

body,
html {
  height: 100%
}

.push {
  height: 90px
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px
}
.group-image{
  display: none;
  width:100%;
}

@media screen and (max-width:700px) {
  #logo {
    width: 200px
  }
  .centered {
    width: auto
  }
  .banner {
    min-height: 100px;
    height: auto
  }
  .events .event .info {
    width: auto;
    padding: 5px;
    margin: 0;
    margin-top: 20px;    
  }
  .group-image{
    display: block !important;
  }
  .events .event img {
    display: none;
  }
  footer {
    padding-left: 10px
  }
}

.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #F7F7F7
}

.form-style-6 h1 {
  background: rgba(0, 0, 0, .65);
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px
}

.form-style-6 input[type=url],
.form-style-6 input[type=text],
.form-style-6 input[type=password],
.form-style-6 input[type=date],
.form-style-6 input[type=datetime],
.form-style-6 input[type=email],
.form-style-6 input[type=number],
.form-style-6 input[type=search],
.form-style-6 input[type=time],
.form-style-6 select,
.form-style-6 textarea {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif
}

.form-style-6 input[type=url]:focus,
.form-style-6 input[type=text]:focus,
.form-style-6 input[type=date]:focus,
.form-style-6 input[type=datetime]:focus,
.form-style-6 input[type=email]:focus,
.form-style-6 input[type=number]:focus,
.form-style-6 input[type=search]:focus,
.form-style-6 input[type=time]:focus,
.form-style-6 select:focus,
.form-style-6 textarea:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF
}

.form-style-6 input[type=submit],
.form-style-6 input[type=file],
.form-style-6 input[type=button] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: rgba(0, 0, 0, .65);
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff
}
.form-style-6 input[type=file]{
  border-bottom: 0;
}

.form-style-6 input[type=submit]:hover,
.form-style-6 input[type=button]:hover {
  background: rgba(0, 0, 0, .75)
}